In [1]:
import string

from src.automata import Alphabet, Automata, Transducer

# Questão 01

Considere as linguagens definidas pelas expressões regulares a seguir. Implemente, para cada uma das linguagens, um autômato finito que reconheça cadeias pertencentes a linguagem. Esse autômato não deve conter não-determinismos, transições em vazio, estados inacessíveis e nem estados inúteis.

In [2]:
alphabet: Alphabet = Alphabet(symbol_labels=['a', 'b', 'c'])

## 1a. $(ab^*c^*)^*$

In [3]:
m_1a = Automata(label="M", alphabet=alphabet)

m_1a.create_state(label="q0", is_initial=True, is_final=False)
m_1a.create_state(label="q1", is_initial=False, is_final=True)
m_1a.create_state(label="q2", is_initial=False, is_final=True)

m_1a.create_transaction(departure_label="q0", arrival_label="q1", symbol_label="a")
m_1a.create_transaction(departure_label="q1", arrival_label="q1", symbol_label="b")
m_1a.create_transaction(departure_label="q1", arrival_label="q1", symbol_label="a")
m_1a.create_transaction(departure_label="q1", arrival_label="q2", symbol_label="c")
m_1a.create_transaction(departure_label="q2", arrival_label="q2", symbol_label="c")
m_1a.create_transaction(departure_label="q2", arrival_label="q1", symbol_label="a")

In [4]:
print(m_1a)

M = (
	{q0, q1, q2},
	{a, b, c},
	{(q0,a)->q1, (q1,b)->q1, (q1,a)->q1, (q1,c)->q2, (q2,c)->q2, (q2,a)->q1},
	q0,
	{q1, q2}
)

In [5]:
m_1a.tabular_notation

   sid  initial  final state     a     b     c
0    0     True  False    q0  [q1]    []    []
1    1    False   True    q1  [q1]  [q1]  [q2]
2    2    False   True    q2  [q1]    []  [q2]

In [6]:
accepted_1a = [
    "a", "aa", "ab", "ac", "aaa", "aab", "aac", "abc", "abb", "acc", "aba", "aca",
    "aaaa", "abbb", "abbc", "abcc", "accc",
]

for string in accepted_1a:
    print(f"{string}: {m_1a.recognize(string=string)}")

a: True
aa: True
ab: True
ac: True
aaa: True
aab: True
aac: True
abc: True
abb: True
acc: True
aba: True
aca: True
aaaa: True
abbb: True
abbc: True
abcc: True
accc: True

## 1b. $aaa(b \mid c)^* \mid (b \mid c)^* aaa$

In [7]:
m_1b = Automata(label="M", alphabet=alphabet)

m_1b.create_state(label="q0", is_initial=True, is_final=False)
m_1b.create_state(label="q1", is_initial=False, is_final=False)
m_1b.create_state(label="q2", is_initial=False, is_final=False)
m_1b.create_state(label="q3", is_initial=False, is_final=True)
m_1b.create_state(label="q4", is_initial=False, is_final=False)
m_1b.create_state(label="q5", is_initial=False, is_final=False)
m_1b.create_state(label="q6", is_initial=False, is_final=False)
m_1b.create_state(label="q7", is_initial=False, is_final=True)

m_1b.create_transaction(departure_label="q0", arrival_label="q1", symbol_label="a")
m_1b.create_transaction(departure_label="q1", arrival_label="q2", symbol_label="a")
m_1b.create_transaction(departure_label="q2", arrival_label="q3", symbol_label="a")
m_1b.create_transaction(departure_label="q3", arrival_label="q3", symbol_label="b")
m_1b.create_transaction(departure_label="q3", arrival_label="q3", symbol_label="c")
m_1b.create_transaction(departure_label="q0", arrival_label="q4", symbol_label="b")
m_1b.create_transaction(departure_label="q0", arrival_label="q4", symbol_label="c")
m_1b.create_transaction(departure_label="q4", arrival_label="q4", symbol_label="b")
m_1b.create_transaction(departure_label="q4", arrival_label="q4", symbol_label="c")
m_1b.create_transaction(departure_label="q4", arrival_label="q5", symbol_label="a")
m_1b.create_transaction(departure_label="q5", arrival_label="q6", symbol_label="a")
m_1b.create_transaction(departure_label="q6", arrival_label="q7", symbol_label="a")

In [8]:
print(m_1b)

M = (
	{q0, q1, q2, q3, q4, q5, q6, q7},
	{a, b, c},
	{(q0,a)->q1, (q1,a)->q2, (q2,a)->q3, (q3,b)->q3, (q3,c)->q3, (q0,b)->q4, (q0,c)->q4, (q4,b)->q4, (q4,c)->q4, (q4,a)->q5, (q5,a)->q6, (q6,a)->q7},
	q0,
	{q3, q7}
)

In [9]:
m_1b.tabular_notation

   sid  initial  final state     a     b     c
0    0     True  False    q0  [q1]  [q4]  [q4]
1    1    False  False    q1  [q2]    []    []
2    2    False  False    q2  [q3]    []    []
3    3    False   True    q3    []  [q3]  [q3]
4    4    False  False    q4  [q5]  [q4]  [q4]
5    5    False  False    q5  [q6]    []    []
6    6    False  False    q6  [q7]    []    []
7    7    False   True    q7    []    []    []

In [10]:
accepted_1b = [
    "aaab", "aaac", "aaabb", "aaabc", "aaacb", "aaacc", "aaabbb", "aaabbc", "aaabcb", "aaabcc", "aaacbb", "aaacbc", "aaaccb", "aaaccc",
    "baaa", "caaa", "bbaaa", "bcaaa", "cbaaa", "ccaaa", "bbbaaa", "bbcaaa", "bcbaaa", "bccaaa", "cbbaaa", "cbcaaa", "ccbaaa", "cccaaa"
]

for string in accepted_1b:
    print(f"{string}: {m_1b.recognize(string=string)}")

aaab: True
aaac: True
aaabb: True
aaabc: True
aaacb: True
aaacc: True
aaabbb: True
aaabbc: True
aaabcb: True
aaabcc: True
aaacbb: True
aaacbc: True
aaaccb: True
aaaccc: True
baaa: True
caaa: True
bbaaa: True
bcaaa: True
cbaaa: True
ccaaa: True
bbbaaa: True
bbcaaa: True
bcbaaa: True
bccaaa: True
cbbaaa: True
cbcaaa: True
ccbaaa: True
cccaaa: True

## 1c. $a^*b \mid ab^*$

In [11]:
m_1c = Automata(label="M", alphabet=['a', 'b'])

m_1c.create_state(label="q0", is_initial=True, is_final=False)
m_1c.create_state(label="q1", is_initial=False, is_final=True)
m_1c.create_state(label="q2", is_initial=False, is_final=True)
m_1c.create_state(label="q3", is_initial=False, is_final=False)

m_1c.create_transaction(departure_label="q0", arrival_label="q2", symbol_label="a")
m_1c.create_transaction(departure_label="q0", arrival_label="q1", symbol_label="b")

m_1c.create_transaction(departure_label="q1", arrival_label="q1", symbol_label="b")

m_1c.create_transaction(departure_label="q2", arrival_label="q3", symbol_label="a")
m_1c.create_transaction(departure_label="q2", arrival_label="q1", symbol_label="b")

m_1c.create_transaction(departure_label="q3", arrival_label="q3", symbol_label="a")
m_1c.create_transaction(departure_label="q3", arrival_label="q1", symbol_label="b")

In [12]:
print(m_1c)

M = (
	{q0, q1, q2, q3},
	{a, b},
	{(q0,a)->q2, (q0,b)->q1, (q1,b)->q1, (q2,a)->q3, (q2,b)->q1, (q3,a)->q3, (q3,b)->q1},
	q0,
	{q1, q2}
)

In [13]:
m_1c.tabular_notation

   sid  initial  final state     a     b
0    0     True  False    q0  [q2]  [q1]
1    1    False   True    q1    []  [q1]
2    2    False   True    q2  [q3]  [q1]
3    3    False  False    q3  [q3]  [q1]

In [14]:
accepted_1c = [
    "b", "ab", "aab", "aaab", "aaaab", "aaaaab", "aaaaaab", "aaaaaaab", "aaaaaaaab",
    "a", "ab", "abb", "abbb", "abbbb", "abbbbb", "abbbbbb", "abbbbbbb", "abbbbbbbb",
]

for string in accepted_1c:
    print(f"{string}: {m_1c.recognize(string=string)}")

b: True
ab: True
aab: True
aaab: True
aaaab: True
aaaaab: True
aaaaaab: True
aaaaaaab: True
aaaaaaaab: True
a: True
ab: True
abb: True
abbb: True
abbbb: True
abbbbb: True
abbbbbb: True
abbbbbbb: True
abbbbbbbb: True

## 1d. $a^*b^*(a \mid ac^*)$

In [15]:
m_1d = Automata(label="M", alphabet=['a', 'b', 'c'])

m_1d.create_state(label="q0", is_initial=True, is_final=False)
m_1d.create_state(label="q1", is_initial=False, is_final=False)
m_1d.create_state(label="q2", is_initial=False, is_final=True)
m_1d.create_state(label="q3", is_initial=False, is_final=True)

m_1d.create_transaction(departure_label="q0", arrival_label="q3", symbol_label="a")
m_1d.create_transaction(departure_label="q0", arrival_label="q1", symbol_label="b")

m_1d.create_transaction(departure_label="q1", arrival_label="q2", symbol_label="a")
m_1d.create_transaction(departure_label="q1", arrival_label="q1", symbol_label="b")

m_1d.create_transaction(departure_label="q2", arrival_label="q2", symbol_label="c")

m_1d.create_transaction(departure_label="q3", arrival_label="q3", symbol_label="a")
m_1d.create_transaction(departure_label="q3", arrival_label="q1", symbol_label="b")
m_1d.create_transaction(departure_label="q3", arrival_label="q2", symbol_label="c")

In [16]:
print(m_1d)

M = (
	{q0, q1, q2, q3},
	{a, b, c},
	{(q0,a)->q3, (q0,b)->q1, (q1,a)->q2, (q1,b)->q1, (q2,c)->q2, (q3,a)->q3, (q3,b)->q1, (q3,c)->q2},
	q0,
	{q2, q3}
)

In [17]:
m_1d.tabular_notation

   sid  initial  final state     a     b     c
0    0     True  False    q0  [q3]  [q1]    []
1    1    False  False    q1  [q2]  [q1]    []
2    2    False   True    q2    []    []  [q2]
3    3    False   True    q3  [q3]  [q1]  [q2]

In [18]:
accepted_1d = [
    "a", "aa", "ac", "ba", "aaa", "aac", "aba", "bac", "acc", "aaaa", "aaac", "aacc", "accc", "abba", "abac", "bbba", "bbac", "bacc",
    "aaaaa", "aaaac", "aaacc", "aaccc", "acccc", "abbba","aabba", "aaaba", "bbbba", "bbbac", "bbacc", "baccc"
]

for string in accepted_1d:
    print(f"{string}: {m_1d.recognize(string=string)}")

a: True
aa: True
ac: True
ba: True
aaa: True
aac: True
aba: True
bac: True
acc: True
aaaa: True
aaac: True
aacc: True
accc: True
abba: True
abac: True
bbba: True
bbac: True
bacc: True
aaaaa: True
aaaac: True
aaacc: True
aaccc: True
acccc: True
abbba: True
aabba: True
aaaba: True
bbbba: True
bbbac: True
bbacc: True
baccc: True

# Questão 03

Implemente um transdutor finito (máquina de Moore ou Mealy) que, dada uma sequência de moedas de 25 e 50 centavos e de 1 real, forneça uma lata de refrigerante quando a sequência totalizar 1 real ou mais. Cada moeda inserida deverá corresponder a uma de duas saídas: 0, se uma lata não pode ser (ainda) liberada, ou 1, se uma lata deve ser liberada. Exemplo:

| Entrada | Saída |
|---------|-------|
| 50      | 0     |
| 25      | 0     |
| 50      | 1     |
| 100     | 1     |
| 25      | 0     |
| 50      | 1     |
| 100     | 1     |

In [19]:
transducer = Transducer(
    label="M3",
    alphabet=Alphabet(["25", "50", "100"]),
    output_alphabet=Alphabet(["0", "1"])
)

In [20]:
transducer.create_state(label="q0", is_initial=True, is_final=True)
transducer.create_state(label="q1", is_initial=False, is_final=True)
transducer.create_state(label="q2", is_initial=False, is_final=True)
transducer.create_state(label="q3", is_initial=False, is_final=True)
transducer.create_state(label="q4", is_initial=False, is_final=True)
transducer.create_state(label="q5", is_initial=False, is_final=True)

In [21]:
transducer.tabular_notation

   sid  initial  final state  25  50 100
0    0     True   True    q0  []  []  []
1    1    False   True    q1  []  []  []
2    2    False   True    q2  []  []  []
3    3    False   True    q3  []  []  []
4    4    False   True    q4  []  []  []
5    5    False   True    q5  []  []  []

In [22]:
transducer.create_transaction(departure_label="q0", arrival_label="q1", symbol_label="25", output_label="0")
transducer.create_transaction(departure_label="q0", arrival_label="q4", symbol_label="50", output_label="0")
transducer.create_transaction(departure_label="q0", arrival_label="q5", symbol_label="100", output_label="1")

transducer.create_transaction(departure_label="q1", arrival_label="q1", symbol_label="100", output_label="1")
transducer.create_transaction(departure_label="q1", arrival_label="q2", symbol_label="25", output_label="0")
transducer.create_transaction(departure_label="q1", arrival_label="q3", symbol_label="50", output_label="0")

transducer.create_transaction(departure_label="q2", arrival_label="q2", symbol_label="100", output_label="1")
transducer.create_transaction(departure_label="q2", arrival_label="q3", symbol_label="25", output_label="0")
transducer.create_transaction(departure_label="q2", arrival_label="q0", symbol_label="50", output_label="1")

transducer.create_transaction(departure_label="q3", arrival_label="q3", symbol_label="100", output_label="1")
transducer.create_transaction(departure_label="q3", arrival_label="q0", symbol_label="25", output_label="1")
transducer.create_transaction(departure_label="q3", arrival_label="q1", symbol_label="50", output_label="1")

transducer.create_transaction(departure_label="q4", arrival_label="q4", symbol_label="100", output_label="1")
transducer.create_transaction(departure_label="q4", arrival_label="q0", symbol_label="50", output_label="1")
transducer.create_transaction(departure_label="q4", arrival_label="q3", symbol_label="25", output_label="0")

transducer.create_transaction(departure_label="q5", arrival_label="q5", symbol_label="100", output_label="1")
transducer.create_transaction(departure_label="q5", arrival_label="q1", symbol_label="25", output_label="0")
transducer.create_transaction(departure_label="q5", arrival_label="q4", symbol_label="50", output_label="0")

In [23]:
print(transducer)

Máquina de refrigerantes = (
	{q0, q1, q2, q3, q4, q5},
	{25, 50, 100},
	{(q0,25/0)->q1, (q0,50/0)->q4, (q0,100/1)->q5, (q1,100/1)->q1, (q1,25/0)->q2, (q1,50/0)->q3, (q2,100/1)->q2, (q2,25/0)->q3, (q2,50/1)->q0, (q3,100/1)->q3, (q3,25/1)->q0, (q3,50/1)->q1, (q4,100/1)->q4, (q4,50/1)->q0, (q4,25/0)->q3, (q5,100/1)->q5, (q5,25/0)->q1, (q5,50/0)->q4},
	q0,
	{q0, q1, q2, q3, q4, q5}
)

In [24]:
transducer.tabular_notation

   sid  initial  final state    25    50   100
0    0     True   True    q0  [q1]  [q4]  [q5]
1    1    False   True    q1  [q2]  [q3]  [q1]
2    2    False   True    q2  [q3]  [q0]  [q2]
3    3    False   True    q3  [q0]  [q1]  [q3]
4    4    False   True    q4  [q3]  [q0]  [q4]
5    5    False   True    q5  [q1]  [q4]  [q5]

In [25]:
transducer.output_tabular_notation

   sid  initial  final state   25   50  100
0    0     True   True    q0  [0]  [0]  [1]
1    1    False   True    q1  [0]  [0]  [1]
2    2    False   True    q2  [0]  [1]  [1]
3    3    False   True    q3  [1]  [1]  [1]
4    4    False   True    q4  [0]  [1]  [1]
5    5    False   True    q5  [0]  [0]  [1]

In [26]:
result: bool = transducer.recognize(string=["50", "25", "50", "100", "25", "50", "100"])

0
0
1
1
0
1
1

In [27]:
result

True

# Questão 02

Implemente um autômato finito que reconheça todas as ocorrências da palavra _computador_ no texto T. O programa deve apontar em quais posições ocorreram o casamento exato da palavra.

T = “O **computador** é uma máquina capaz de variados tipos de tratamento automático de informações ou processamento de dados. Entende-se por **computador** um sistema físico que realiza algum tipo de computação. Assumiu-se que os computadores pessoais e laptops são ícones da era da informação. O primeiro **computador** eletromecânico foi construído por Konrad Zuse (1910–1995). Atualmente, um microcomputador é também chamado **computador** pessoal ou ainda **computador** doméstico.”